:root {
	--primary: #412234;
	--secondary: #6d466b;
	--tertiary: #b49fcc;
	--default: #ffffff;
	--maybe: #ead7d7;
	--orange: #ff712f;
}

.card {
	width: 32%;
	float: left;
	margin: 5px;
}

section {
	padding: 4rem 0;
}

input,
textarea {
	margin-bottom: 1rem;
	resize: none;
}

nav img {
	width: 60px;
	height: 60px;
}

nav {
	border-radius: 10px;
}

.me-2 {
	margin-top: 15px;
}

#sobre img {
	width: 450px;
}

#produtos h2 {
	color: var(--primary);
}

#produtos h5 {
	color: var(--secondary);
}

.hoverlight:hover {
	transform: translateY(-5px);
	filter: brightness(105%);
}

#contato {
	margin-bottom: 50px;
}

.bradius {
	border-radius: 10px;
}

.cardp {
	position: relative;
	width: 300px;
	height: 200px;
	background: white;
	margin: 0 auto;
	margin-bottom: 50px;
	border-radius: 50px;
}

.cardpi {
	width: 200px;
	height: 150px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(-70px);
	background: gray;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 5px black;
}

.cardpedro .modal-content {
	border-radius: 30px;
	width: 400px;
	height: 186px;
}

div.button2 {
	position: relative;
	display: block;
	width: 100px !important;
	transform: translateX(160%) translateY(39px) !important;
}

.cardpi img {
	max-width: 100%;
	height: 150px;
	width: 200px;
}

.cardp > p {
	position: relative;
	text-align: center;
	color: rgb(92, 92, 92);
	margin: 0;
	top: 77px;
	font-size: 1.4rem;
	font-weight: 500;
}

.cardp .button {
	position: relative;
	text-align: center;
	top: 75px;
	transform: translateX(-25%);
	width: 10%;
}

.cardp .button2 {
	position: relative;
	text-align: center;
	transform: translateX(27%) translateY(39px);
	width: 100%;
}

.cardp button {
	border-radius: 10px;
	background-color: #0d1117;
	color: lightgray;
	box-shadow: 0 0 5px gray;
	width: 150px;
	padding: 5px 0;
}

.button2 button {
	background-color: #1d9bf0;
	border: 1px solid #30acff;
}

.hovercustom:hover {
	background-color: rgba(88, 105, 97, 0.5);
}

.hoverbutton {
	box-shadow: 0px 0px 5px #333;
}

.border-gray {
	border-color: gray;
}

.hoverbutton:hover {
	filter: brightness(120%);
	transform: translateY(-5px);
	transition: 0.5s;
	cursor: pointer;
}

@media (max-width: 990px) {
	.card {
		width: 100%;
	}
}

@media (max-width: 389) {
	.card {
		width: 115%;
	}
}

@media (max-width: 287px) {
	.card {
		width: 140%;
	}
}
